@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "KCCChassam";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCCChassam.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

.font-KCC {
  font-family: "KCCChassam";
}

@layer components {
  .container {
    @apply min-h-screen max-w-screen-md mx-auto px-8 pt-20;
  }

  .btn-style {
    @apply border-2 border-black px-2 rounded-md;
  }
}

@font-face {
  font-family: "Dovemayo_gothic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

.font-KCC2 {
  font-family: "Dovemayo_gothic";
}
